<div class="card">

    <div class="crop">
        <img class="img" ng-src="{{$ctrl.info.thumbnail}}" alt="{{$ctrl.info.title}}">
        <span class="duration">{{$ctrl.info.mmss}}</span>
    </div>

    <div class="card-body">
        <div class="shortcut desc">{{$ctrl.info.title}}</div>
    </div>

    <div class="card-views">
        <i class="material-icons md-19">headset</i>
        <span class="views-text">{{$ctrl.info.views}}</span>
    </div>

    <div class="card-types">
        <span ng-class="['badge','caption']" ng-repeat="caption in $ctrl.info.captions_zh">{{caption}}</span>
        <span class="badge level">{{$ctrl.info.level_zh}}</span>
    </div>

</div>